/* @font-face {
    font-family: retro;
    src: url(fuentes/Retrowave\ demo.otf);
}

html {
    background-image: url(imagenes/fondo-retro.webp); 
    background-position: center;
}

h1 {
    font-family: retro;
    text-align: center;
    font-size: 100px;
    color:#d62828;
    text-shadow: 2px 2px 2px black;
    
}

fieldset {
    border-radius: 5px;
    border-color: #0b090a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ddd;
    font-size: 22px;
    text-shadow: 4px 1px 2px #0b090a;
    font-weight: 900;
    margin: 10px 30% 50px 30%;
    padding: 20px 40px 40px 40px;
    background-image: url(imagenes/auto-retro.jpg);
    background-position: center;
    background-size: 500px;
    
}

legend {
    background-color: #9E2A2B;
    color: #FFF3B0;
    font-family: "Fascinate Inline", serif; 
    font-size: 18px;
    border-radius: 5px;
    width: 190px;
    height: 25px;
    text-align: justify;
    font-variant: small-caps;
    font-weight: 600;
}

.casilla {
    width: 450px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #FFF3B0;
}

input:focus {
    background-color: #573633;
    color: #ddd;
}

textarea {
    background-color: #FFF3B0;
}

textarea:focus {
    background-color: #573633;
}

.boxes {
    color: white;
    font-family: "Fascinate Inline", serif;
    text-shadow: 2px 1px 2px #0b090a;
    margin-left: 30%;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 400;
}

#obligatorio {
    color: white;
    font-family: "Fascinate Inline", serif;
    text-shadow: 2px 1px 2px #0b090a;
    margin-left: 30%;
    font-size: 12px;
    font-weight: 400;
}

button {
    background-color: #53675b;
    color: #e8df9b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 10px;
    border: 1px solid  #a5c0b5;
    border-radius: 5px;
    width: 130px;
    margin: 20px;
} */